* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 440px; /* Увеличена ширина блока */
    max-width: 90%;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#calendar {
    margin-top: 30px;
    display: none; /* Скрываем календарь, пока не выполнена транзакция */
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
}

#calendar td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}

#calendar td:hover {
    background-color: #f1f1f1;
}

#walletAddress {
    word-wrap: break-word;
    display: block;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 14px;
    color: #555;
}
